page-news-detail {
    .title{
    margin:0 auto;
    font-family: "notoR";
    margin:0 auto;
    text-align:center;
    color:white;
    font-size:3vh;
    
  }

ion-navbar.toolbar{
  min-height: 48px !important;
  padding-right: 10px;
}


.search{
  width:6%;
}


 .md .search{
      width: 6%;
    
 } 

  .ios .search{
      width:6%;
    
  }
  .card {
    margin: 0px;
    width: 100%;
  }
  .news-head {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 10px;
  }
  .news-time {
    padding-left: 17px;
    font-size: 10px;
    color: $grey;
  }
}
