
page-facility {
  .title{
    margin:0 auto;
    font-family: "notoR";
    margin:0 auto;
    text-align:justify;
    color:white;
    font-size:3.3vh;
    padding-left:30% !important;
    
  }

ion-navbar.toolbar{
  min-height: 48px !important;
  padding-right: 10px;
}


.search{
  width:7%;
  margin-right:10px;
}


 .md .search{
      width: 7%;
    
 } 

  .ios .search{
      width:7%;
    
  }
  
  .list-header{
      font-family : "notoB";
      font-size: 24pt;
      font-weight: bold;
      color: #1C49AD;
      margin-top: 3px;
      margin-bottom: 0px;
      padding-bottom: 15px;
      padding-left:14px;
      border-bottom: solid 2.7px #1C49AD !important;
  }

  button.item.item-block{
       border-bottom:solid 1.5px #1C49AD !important;
    
  }

  .scroll-content{
      padding-left:0px !important;
      padding-right:0px !important;
  }

  .input-wrapper{
    padding-top: 9px;
    padding-bottom:9px;
    padding-left:14px;
    font-size: 16pt;
    color: #1C49AD;
    font-family:"notoR";
  }

}
