<ion-header>
    <ion-navbar>
    <div >
        <img align="right" src="assets/img/search.png" class="search" />        
        <!--<ion-title class="title"> IMM </ion-title>-->
        <p class="title">IMM</p>
    </div>
    </ion-navbar>
</ion-header>



<ion-content padding>
<ion-searchbar
  [(ngModel)]="myInput"
  (ionInput)="getItems($event)"
  autocorrect="off"
  placeholder="Search Items ">
</ion-searchbar>

<ion-list>
  <ng-container *ngFor="let item of item_name; let count=index">
  <ion-item class="items" (click)="gotoItem(item)"
  *ngIf="count<5 && item_name.length > 0">
    {{item}}
  </ion-item>
  </ng-container>

  <!--<ion-list-header no-lines *ngIf="item_name.length < 1">
  Top 5 Most Popular Searched Items
</ion-list-header>
  <ng-container *ngFor="let item of items; let count=index">
  <ion-item class="items" (click)="gotoItem(item)"
  *ngIf="count<5 && item_name.length < 1">
    {{item.item_name}}
  </ion-item>
  </ng-container>-->
</ion-list>

<div class="button-position">
<button class="scan-button" ion-button outline color="primary" (click)="scanBarcode()"> Scan QR code </button>
</div>
</ion-content>
